<pre>
Karma matching is currently {{enabled}} in this room.
Karma echoing is currently {{echo}}.
Usage:
  /karma                 print this help message{{#if global}}
  /karma :enable         enable karma matching in the current room
  /karma :disable        disable karma matching in the current room{{/if}}
  /karma :echo           enable karma echoing
  /karma :silent         silence karma echoing
  /karma :top things     show the top 10 things
  /karma :bottom things  show the bottom 10 things
  /karma :top users      show the top 10 users
  /karma :bottom users   show the bottom 10 users
  /karma thing           lookup thing's current karma
  /karma @MentionName    lookup a user's current karma by @MentionName
  thing++                add 1 karma to thing
  thing++++              add 3 karma to thing (count(+) - 1, max 5)
  thing--                remove 1 karma from thing
  thing----              remove 3 karma from thing (count(-) - 1, max 5)
  "subject phrase"++     add 1 karma to a subject phrase
  @MentionName++         add 1 karma to a user by @MentionName
</pre>
